In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests as req
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import pandas as pd
from pandas import DataFrame
import json
from price import page_data
import time

In [2]:
# If you get an error below with the 'browser' line, you many need to update your chromedriver.exe. Update link below,
# make sure it matches the same version of chrome you currently have installed.

In [3]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser("chrome", **executable_path, headless=False)

In [4]:
url = "https://www.homedepot.com/b/Appliances/N-5yc1vZbv1w"
browser.visit(url)
browser.click_link_by_partial_text('Refrigerators')
refrigerator_main_page = browser.url
# Not sure how to get a list of the 'Types'

C:\ProgramData\Anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [5]:
browser.click_link_by_partial_text('French Door Refrigerators')

In [6]:
time.sleep(0.3)
lists = browser.html
page_data(lists)

,price,brand,sku,worst_rating,best_rating,review_count,avg_ratings
6,"$3,418.00",GE,311411352,1,5,1074,4.6555
22,"$2,728.00",GE,312648552,1,5,3965,4.4066
13,"$1,708.00",GE,303345832,1,5,2038,4.2125
16,"$1,978.00",GE,312980601,1,5,3050,4.4403
0,"$1,998.00",LG Electronics,302253240,1,5,1156,4.2621
20,"$1,708.00",LG Electronics,306803830,1,5,498,4.3956
3,"$1,618.00",LG Electronics,205033976,1,5,655,4.3847
4,"$1,098.00",LG Electronics,206452443,1,5,2477,4.434
5,"$1,098.00",LG Electronics,206452443,1,5,2477,4.434
18,"$3,999.00",LG Electronics,312285857,1,5,156,4.2115
17,"$2,739.00",LG Electronics,305712398,1,5,958,4.4854
10,"$2,289.00",LG Electronics,306750351,1,5,1420,4.3782
12,"$1,198.00",LG Electronics,314145556,1,5,29,3.931
14,"$2,199.00",LG Electronics,305573330,1,5,1819,4.4107
21,"$1,498.00",Samsung,203707196,1,5,1480,4.3257
19,"$2,878.00",Samsung,312904454,1,5,459,4.6035
11,"$1,248.00",Samsung,302577277,1,5,1786,3.8197
9,"$1,708.00",Samsung,314024432,1,5,76,4.2632
8,"$2,698.00",Samsung,308743988,1,5,1247,4.2558
2,"$2,158.00",Samsung,312904394,1,5,365,4.2904
15,"$2,518.00",Samsung,310428856,1,5,901,4.222
23,"$3,418.00",Samsung,310516279,1,5,1446,4.6888
7,"$2,199.00",Whirlpool,301711642,1,5,4151,4.4023
1,"$2,499.00",Whirlpool,301859152,1,5,5957,4.4889